.date-component{
  width: 100%;
  .m-date{
    margin-bottom: 20px;
  }
  .week{
    width: 100%;
  }
  .day,.week span{
    float: left;
    width: 14.2857%;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .day{
    background: #009688;
    color: #FFFFFF;
  }
  .to-gray{
    color: #555;
  }
  .calendar-days{
    position: absolute;
    top: 45px;
    bottom: 0;
    overflow: auto;
    width: 100%;
    padding-top: 10px;
  }
}